# Jekyll related file
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# any pictures, video files in asset folder
#assets/img/2024

# Nanoc related files
/output
/tmp
/.sass-cache
/.bundle       
