<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Page not found, sorry!</title>

        <link rel="stylesheet" href="/assets/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=0.6, user-scalable=yes" />

        <meta name="author" content="blinry" />
        
        <meta name="description" content="Please click on this <a id=google href=http://www.google.de/search?q=site:<%= domain %>>ready-made Google query</a> or have a look at the main page." />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@blinry" />
        <meta name="twitter:title" content="Page not found, sorry!" />
        <meta name="twitter:description" content="Please click on this <a id=google href=http://www.google.de/search?q=site:<%= domain %>>ready-made Google query</a> or have a look at the main page." />
        <meta name="twitter:creator" content="@blinry" />
        <meta name="twitter:image" content="http://kyon.tokyo/assets/images/avatar.png-thumbnail.jpg" />

        <meta property="og:title" content="Page not found, sorry!" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://kyon.tokyo/404/" />
        <meta property="og:image" content="http://kyon.tokyo/assets/images/avatar.png-thumbnail.jpg" />
        <meta property="og:description" content="Please click on this <a id=google href=http://www.google.de/search?q=site:<%= domain %>>ready-made Google query</a> or have a look at the main page." />

        <meta name="flattr:id" content="12e3r3" />

        
            <meta name="robots" content="noindex" />
        

        <link rel="shortcut icon" type="image/png" href="/assets/images/avatar.png" />
        <link rel="alternate" type="application/atom+xml" href="/feed/" />

        

    </head>
    <body>
        <nav>
            <ul>
                <li class="home">
                    <a href="/"
                        ><img
                            src="/assets/images/avatar.png"
                            alt="Cartoon avatar of blinry"
                    /></a>
                </li>
                <li><a href="/#latest">Latest</a></li>
                <li><a href="/#popular">Popular</a></li>
                <li><a href="/#favs">My Favorites</a></li>
                <li class="end"><a href="/about/">Contact</a></li>
            </ul>
        </nav>
        
        <div class="content">
            <h1>Page not found, sorry!</h1>
            
            <div class="meta">
                
                    unpublished
                
                
                /
                <a href="/about/" target="_blank">blinry</a>
                
                    /
                    <a href="/about/#license" target="_blank">CC BY-SA 4.0</a>
                
                
            </div>

            <p>Please click on this <a id="google" href="http://www.google.de/search?q=site:http://kyon.tokyo/">ready-made Google query</a> or have a look at the <a href="/">main page</a>.</p>

<p>If you don’t find what you are looking for, just <a href="/about/">ask me</a>.</p>

<script type="text/javascript">
url = /^.*?:\/\/.*?\/(.*)$/.exec(document.URL)[1];
keywords = url.match(/[a-zA-Z]+/g);
keywords = keywords.join("+");
document.getElementById("google").href = "http://www.google.com/search?q=site:http://kyon.tokyo/+" + keywords;
</script>



            <!--
                     - if @item[:tags]
        hr
        - if @item[:toot]
          h2 Join the discussion!
          p
            | You can add your comment
            a<> href=@item[:toot] target="_blank" in the Fediverse!
            | Alternatively, drop me a mail at <span>m<span title="ihate@spam.com</span>">a</span>il</span>&#64;blinry<i title="</i>mailto:">.</i>org. Also, you can support me
            a<> href="https://www.patreon.com/blinry" target="_blank" on Patreon
            | or subscribe to
            a< href="https://tinyletter.com/blinry" target="_blank" my newsletter
            | !
          iframe class="toot" id="toot" src="https://toot-embedder.blinry.org/#url=#{@item[:toot]}"
          script iFrameResize({ log: true }, '#toot')
        - else
          h2 Comments?
          p
            | Send a message to
            a<> href="https://chaos.social/@blinry" target="_blank" @blinry@chaos.social
            | or drop me a mail at <span>m<span title="ihate@spam.com</span>">a</span>il</span>&#64;blinry<i title="</i>mailto:">.</i>org. Also, you can support me
            a<> href="https://www.patreon.com/blinry" target="_blank" on Patreon
            | or subscribe to
            a< href="https://tinyletter.com/blinry" target="_blank" my newsletter
            | !
        /h2 Similar projects
        /== box(things[0..2])
            -->

            
        </div>
        
    </body>
</html>
